<% image_url = url_for(item.image) %>
<% item_url = url_for('/food/' + item.url) %>
<article class="fl w-100 w-50-m  w-33-ns pa2-ns">
  <a href="<%- item_url %>">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(<%- image_url %>);" class="db bg-center cover aspect-ratio--object">
    </div>
  </a>
  <a href="<%- url_for(item.path) %>" class="ph2 ph0-ns pb3 link db">
    <h3 class="f5 f4-ns mb0 black-90"><%- item.name %></h3>
    <h3 class="f6 f5 fw4 mt2 black-60"><%- item.subname %></h3>
  </a>
</article>
